@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

body {
    background-image: linear-gradient(135deg, #050505, #382264);
    min-height: 100vh;
    color: white;
}

h1, h2{
    color:white;
}

.form-control {
    background-color: #31334f;
    color:white;
    border: 1px solid #240c60;
}

.table {
    color:white;
}

h1, h2 {
    font-family: 'Dancing Script', cursive;
    color: white;
}

.navbar-brand {
    font-family: 'Dancing Script', cursive;
    color: white;
}

.navbar {
    background-color: rgb(0, 0, 0) !important;
}

.nav-link {
    color: white !important;
}



