body {
    background-color:#000000;
    color:white;
}

h1, h2{
    color:white;
}

.form-control {
    background-color: #31334f;
    color:white;
    border: 1px solid #250d62;
}

.table {
    color:white;
}