.home-container {
    margin-top: 30vh;
    text-align: center;
   
}

.title {
    font-family: 'Dancing Script', cursive;
    font-size: 5rem;
    font-weight: 700;
    animation: slideUp 1.5s ease forwards;
}

.buttons {
    margin-top: 2rem;
    opacity:0;
    animation: fadeIn 1s ease 1s forwards;
    text-align: center;
}

@keyframes slideUp {
    from { transform: translateY(50px); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}