.btn-lila {
  background-color:rgba(147, 112, 216, 0.863);
  color:white;
  border:none;
}
.btn-lila:hover {
  background-color:rgb(142, 108, 210);
  color:white;
}
.btn-loeschen {
  background-color:rgba(152, 0, 0, 0.684);
  color:white;
  border:none;
}
.btn-loeschen:hover {
    background-color:rgba(132, 0, 0, 0.734);
    color:white;
}

.sortier-griff {
  cursor:grab;
  margin-right:7px;
  color:grey;
}

thead {
  background-color: #070606;
}

td, th {
  border: 1px solid white;
  color: white;
  background-color: #2a2a2a;
}

