.btn-lila {
  color:white;
  border:none;
}
.btn-lila:hover {
  background-color:rgba(36, 14, 81, 0.43);
  color:white;
}
.btn-loeschen {
  
  color:white;
  border:none;
}
.btn-loeschen:hover {
    background-color:rgba(132, 0, 0, 0.335);
    color:white;
}

.sortier-griff {
  cursor:grab;
  margin-right:7px;
  color:grey;
}

thead {
  background-color: #000000;
}

td, th {
  border: 1px solid rgb(48, 26, 99);
  color: white;
  background-color: rgb(0, 0, 0);
}

.bi {
  color:white;
  font-size: 1rem;
}

.btn-add-song {
    font-size: 2rem;
    color: white;
    border: none;
    padding: 0.1rem 1rem;
    margin-top: 0.1rem;
}

.row {
    margin-left: auto;
    margin-right: auto;
    max-width: 3000px;
}